# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
salary_df = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salary_df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salary_df.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

salary_df['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

list_department = list(salary_df['Department'].unique())
list_department

salary_df['Department'].value_counts()

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

In [7]:
salary_df.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
# hour_worker = salary_df['Hourly Rate'].mean()
# hour_worker

In [9]:
salary_df['Hourly Rate'].unique()

array([   nan,  13.  ,  37.45,  40.78,  38.52,  34.98,  25.  ,  19.86,
        49.35,   2.65,  29.96,  49.26,  46.88,  54.05,  44.82,  38.01,
        43.72,  18.52,  49.6 ,  22.75,  34.83,  22.1 ,  14.1 ,  13.94,
        23.38,  16.65,  23.74,  31.12,  38.09,  18.01,  15.55,  51.85,
        48.93,  45.5 ,  38.11,  15.94,  20.31,  51.  ,  33.71,  46.25,
        22.36,  51.1 ,  18.45,  19.38,  14.54,  14.95,  28.  ,  23.1 ,
        39.09,  25.95,  47.3 ,  22.35,  34.58,  13.4 ,  52.35,  39.64,
        15.22,  21.3 ,  57.04,  44.62,  14.11,  16.  ,  15.05,  39.51,
        44.85,  22.05,  12.  ,  53.4 ,  58.4 ,  48.55,  23.05,  31.7 ,
        21.38,  14.  ,  17.  ,  54.1 ,  24.34,  22.38,  24.46,  26.59,
        26.71,  22.74,  16.88,  18.22,  21.73,  48.1 ,  25.19,  33.32,
        25.47,  35.7 ,  27.75,  16.55,  50.05,  30.6 ,  20.  ,   8.25,
        15.  ,  16.05,  49.14,  52.63,  51.43,  44.52,  48.25,  24.19,
        24.94,  51.05,  44.04,  52.6 ,  22.5 ,  32.85,  24.1 ,  44.22,
        26.23,  34.74,  40.8 ,  53.21,  48.11,  49.8 ,  32.14,  55.1 ,
        50.63,  44.74,  51.57,  33.  ,  18.44,  20.05,  39.84,  37.  ,
        35.95,  23.46,  41.65,  18.  ,   9.74,  43.35,  52.55,  14.66,
        10.  ,  23.  ,  37.35,  23.3 ,  28.85,  25.72,  51.63,  27.34,
        20.5 ,  13.45,  61.65,  24.  ,  10.5 , 128.  ,  47.33,  41.54,
        52.43,  26.9 ,  21.84,  50.5 ,  47.54,  30.  ,  18.7 ,  32.22,
        39.42,  33.72,  17.42,  29.97,  36.5 ,  22.  ,  48.75,  53.91,
        50.15,  27.03,  29.16,  36.45,  29.39,  15.75,  18.85,  15.38,
        24.98,  19.88,  37.69])

In [10]:
hour_worker = salary_df['Hourly Rate'].dropna()
hour_worker

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: Hourly Rate, Length: 8174, dtype: float64

In [11]:
import scipy.stats as stats
from scipy.stats import ttest_1samp
stat_h, pval_h = stats.ttest_1samp(hour_worker, 30 )

In [12]:
print('stat is  ', stat_h)
print('pvalue for the one-tailed test is ', pval_h)

stat is   31.211500329216044
pvalue for the one-tailed test is  3.825475847673794e-202

In [13]:
hour_worker.mean()

34.58644971862046

### p is low, null must go: we reject the H0

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [14]:
# Your code here:
dept_salary = salary_df[(salary_df['Department']=='POLICE') & (salary_df['Salary or Hourly']=='Salary')]['Annual Salary']

In [15]:
stat_d, pval_d = stats.ttest_1samp(dept_salary, 86000 )
print('stat is  ', stat_d)
print('pvalue for the one-tailed test is ', pval_d/2)

stat is   18.51748561981861
pvalue for the one-tailed test is  6.119566952121482e-76

### P-value is below 0.05 and tha stat is positive, so we can reject the null .

Using the `crosstab` function, find the department that has the most hourly workers.

In [16]:
# Your code here:
dept_hour = pd.crosstab(salary_df['Department'],salary_df['Salary or Hourly'])
dept_hour
most_hourly = dept_hour.loc[dept_hour['Hourly'] == dept_hour['Hourly'].max()]
most_hourly

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1846     329

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [17]:
# Your code here:
dept_salary_ = salary_df[(salary_df['Department']== 'STREETS & SAN') & (salary_df['Salary or Hourly']=='Hourly')]['Hourly Rate']

In [18]:
stat_1, pval_1 = stats.ttest_1samp(dept_salary_, 35)
print('stat is  ', stat_1)
print('pvalue for the one-tailed test is ', pval_1/2)

stat is   4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [19]:
# Your code here:
confidence_level1 = 0.95
degrees_freedom1 = len(dept_salary) - 1  # or, for large values of sample size, just use that
sample_mean1 = np.mean(dept_salary)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error1 = stats.sem(dept_salary) # sem = standard error of the mean = std(patients)/sqrt(samplesize)

confidence_interval1 = stats.t.interval(confidence_level1, 
                                             degrees_freedom1, 
                                             sample_mean1, 
                                             sample_standard_error1)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [20]:
# Your code here:

print( 'confidence interval is ', confidence_interval1, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [23]:
# Your code here:

from statsmodels.stats.proportion import proportions_ztest

zstat, pval=proportions_ztest(count=len(salary_df[salary_df['Salary or Hourly']=='Hourly']),
                             nobs=len(salary_df),
                             value=0.25)

print("zstat value : ",zstat)
print("pvalue value : ", pval)

# p value less than 0.05 states we cvan reject the null hypothesis and negative z value states the proportion of hourly
# workers  is less than 25% of the total number of employees.

zstat value :  -3.1962453870335
pvalue value :  0.0013922864704323116